<ul id="image-list">
  <% images.each do |image| %>
    <li>
      <a href="<%= image_path(image) %>">
        <%= image_tag image.url, class: 'image-thumbnail' %>
      </a>
    </li>
  <% end %>
</ul>
