<h1>Hello world</h1>

<%= link_to "Submit a new image", new_image_path %>

<main>
  <ul id="image-list">
    <% @images.each do |image| %>
      <li>
        <%= image_tag image.url %>
      </li>
    <% end %>
  </ul>
</main>
